/* Regular */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Light */
/*@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal; 
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic; 
} */